<!DOCTYPE html>
<html lang="en" ng-app="process">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">

    <title>Report Generation</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="../static/js/process-xml.js"></script>
    <script src="../static/js/renderBGPController.js"></script>
    <script src="../static/js/checklist-model.js"></script>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>

<body ng-controller="renderBGP">
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/weeklyreport/templates/report.html">Staples</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/weeklyreport/templates/ProcessXML.html">Process XML</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/weeklyreport/templates/GenerateReport.html">Generate Report</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">BGP Report<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<main role="main" class="container-fluid">

    <div class="starter-template">
        <h1>BGP Report</h1>
    </div>

    <div class="container align-items-center">
        <div ng-bind-html=getHtml(data.tablecontents)>
        </div>

    </div>

</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../static/js/jquery-3.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="../static/js/popper.js"></script>
<script src="../static/js/bootstrap.js"></script>


</body></html>